# Dependencies
/Backend/node_modules
/mobile/NoteApp/node_modules

# Environment files
.env
/README.md
**/.env
Backend/.env
/Backend/.env
Backend/.env.local
Backend/.env.development
Backend/.env.production
mobile/noteMobile/.env
mobile/noteMobile/.env.local
mobile/noteMobile/.env.development
mobile/noteMobile/.env.production
Backend/.env.example

# Firebase / secrets
Backend/src/config/firebase-service-account.json
**/firebase-service-account.json

# Postman collections exported during development
noteProject.postman_collection.json
noteProject-folder.postman_collection.json
NOTE-LOGIN-ID TOKEN.postman_collection.json

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
